/* Color Theme Swatches in Hex */
/* .Moda-1-hex { color: #BF5E66; }
.Moda-2-hex { color: #000C0D; }
.Moda-3-hex { color: #012626; }
.Moda-4-hex { color: #A69281; }
.Moda-5-hex { color: #FCE9DA; } */

.navbarContainer{
    background-color: #FCE9DA;
    color:#BF5E66 ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.logo{
    width: 80px;
    height: 80px;
}

.categoria{
    justify-content: center;
    display: flex;
    gap: 30px;

}

.categoriaLi{
    list-style: none;
}

